.navbar-nav {
  margin-left: auto;
}

.nav-item, .navbar-brand, a .btn{
  font-size: 26px !important;
}

.navbar-collapse a{
  font-size: 26px;
}

h3{
  font-size: 36px !important;
}

h1{
  font-size: 56px !important;
}
.hero p{
  text-align: justify
}
p, label {
  font-size: 20px !important;
}

.notify {
  border: 1px solid #ffc107;
  border-radius: 30px;
  padding: 5px;
  width: 100%;
  display: flex;
}
.notify input {
  outline: none;
  border: none;
  width: 70%;
}

.notify button {
  width: 25%;
  margin-left:auto;
  border: none;
  border-radius: 30px;
  padding: 10px 10px;
  color: white;
}
.notify button:hover{
    color: white;
}

.social-icons {
  margin-top: 10vh !important;
  margin-left: 30px;
  
}

.social-links{
  display: flex;
  margin-left: 20px;
}

.social-icons a {
  color: #ffc107;
  margin: auto;
}

.social-icons a:hover {
  color: #ffc107;
}

i {
  color: #ffc107;
}

.map, .contact-form {
  border-top: 3px solid #ffc107;
  border-bottom: 3px solid #ffc107;
}

input {
    outline: none !important;
}
textarea{
    height: 250px !important;
}

footer p{
  text-align: center;
}

.content, .hero-img{
  margin-top: 100px !important;
}